body {
    background-color: rgba(0,0,255, 0.3);
}

.alertBox {
    display: grid;
    background-color: rgb(237, 235, 235);
    border: 1px solid rgb(85, 85, 85);
    margin: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5px;
}

h1, h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

h1 {
    padding-top: 3%;
    font-size: 55px;
}

h2 {
    font-size: 20px;
}

.AlertSetupButton {
    border-radius: 5%;
    padding: 1%;
    margin: 4%; 
    color: rgb(0, 0, 0);
    background-color: rgb(212, 212, 212);
    border: 2px solid black;
}

.secondButtons {

    color: rgb(0, 0, 0);
    background-color: rgb(174, 174, 193);
    border-radius: 10%;
    margin: 1%;
}

#col1 {
    grid-column: 1 / 2;
}

#col2 {
    grid-column: 2 / 3;
}

#col3 {
    grid-column: 3 / 4;
}
